@model NM.Web.WebApplication.Timesheets.Models.ViewModel.TimesheetViewModel

@helper RenderColumnToString(string subtotal)
{
string result = float.Parse(subtotal) > 0 ? subtotal.ToString() : "-";
    @result;
}

@using GridMvc.Html

<div class="col-sm-12">
    <div class="NmarqGrid-SubHeader NmarqGrid-Spacer text-center">
        @if (Model.IsUserNonExempt)
        {
            <b>Pay Period Summary</b>
        }
        else
        {
            <b>Time Off Summary</b>
        }

    </div>
    <div class="well">
        <div class="container-fluid" style="border:solid; border-color:darkgrey; border-width:thin; border-radius: 10px; border-bottom:hidden">
            <div class="row">
                <div class="col-sm-2" style="align-content:center; font-weight:bold; vertical-align:central">Hours</div>
                <div class="col-sm-10">
                    @if (Model.IsUserNonExempt)
                    {
                        if (Model.TimeOffSummaryNonExempt != null)
                        {
                            Model.TimeOffSummaryNonExempt.OrderBy(m => m.HoursTypeID);
                            @Html.Grid(Model.TimeOffSummaryNonExempt.OrderBy(m => m.HoursTypeID), "_Grid").Named("gridTimeNonExempt").Columns(col =>
                            {
                                col.Add(m => m.HoursType)
                                        .Titled("Type")
                                        .SetWidth("25%");
                                col.Add(m => m.TotalWeek1)
                                        .Titled("Week 1")
                                        .Format("{0:0.00}")
                                        .SetWidth("25%");
                                col.Add(m => m.TotalWeek2)
                                        .Titled("Week 2")
                                        .Format("{0:0.00}")
                                        .SetWidth("25%");
                                col.Add(m => m.Total)
                                        .Titled("Total")
                                        .Format("{0:0.00}")
                                        .Css("NmarqGrid-Total")
                                        .SetWidth("25%");

                            })
                        }
                    }
                    else if (!Model.IsUserNonExempt)
                    {
                        if (Model.TimesheetHours != null)
                        {
                            Model.TimesheetHours.OrderBy(m => m.HoursTypeID);
                            @Html.Grid(Model.TimesheetHours.OrderBy(i => i.Date), "_Grid").Columns(col =>
                           {
                               col.Add(m => m.tblTSHoursType.HoursType)
                                        .Titled("Type")
                                        .SetWidth("25%");
                               col.Add(m => m.Date)
                                       .Titled("Date")
                                       .SetWidth("25%")
                                       .Format("{0:MM/dd/yyyy}");
                               col.Add(m => m.Hours)
                                       .Titled("Hours")
                                       .SetWidth("25%");
                           })
                        }
                    }
                </div>
            </div>
        </div>

        @if (Model.IsUserNonExempt)
        {
            if (Model.OnCallSummaryNonExempt != null)
            {
                if (Model.OnCallSummaryNonExempt.Count > 0)
                {
                    <div class="container-fluid" style="border:solid; border-color:darkgrey; border-width:thin; border-radius: 10px; border-bottom:hidden">
                        <div class="row">
                            <div class="col-sm-2" style="align-content:center; font-weight:bold; vertical-align:central">On Call</div>
                            <div class="col-sm-10">
                                @Html.Grid(Model.OnCallSummaryNonExempt.OrderBy(m => m.HoursTypeID), "_Grid").Columns(col =>
                            {
                                col.Add(m => m.HoursType)
                                        .Titled(" ")
                                        .SetWidth("25%");
                                col.Add(m => m.TotalWeek1OnCall)
                                        .Titled(" ")
                                        .Format("${0:0.00}")
                                        .SetWidth("25%");
                                col.Add(m => m.TotalWeek2OnCall)
                                        .Titled(" ")
                                        .Format("${0:0.00}")
                                        .SetWidth("25%");
                                col.Add(m => m.TotalOnCall)
                                        .Titled(" ")
                                        .Format("${0:0.00}")
                                        .Css("NmarqGrid-Total")
                                        .SetWidth("25%");
                            })
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="container-fluid" style="border:solid; border-color:darkgrey; border-width:thin; border-radius: 10px;">
                <div class="row">
                    <div class="col-sm-2" style="align-content:center; font-weight:bold; vertical-align:central">Mileage</div>
                    <div class="col-sm-10">
                        @if (Model.MileageSummary != null)
                        {
                            @Html.Grid(Model.MileageSummary.OrderBy(m => m.HoursTypeID), "_Grid").Columns(col =>
                            {
                                col.Add(m => m.HoursType)
                                        .Titled(" ")
                                        .SetWidth("25%");
                                col.Add(m => m.TotalWeek1Milage)
                                        .Titled(" ")
                                        .Format("{0:0.0}")
                                        .SetWidth("25%")
                                        .RenderValueAs(i => RenderColumnToString(i.TotalWeek1Milage.ToString()).ToHtmlString());
                                col.Add(m => m.TotalWeek2Milage)
                                        .Titled(" ")
                                        .Format("{0:0.0}")
                                        .SetWidth("25%")
                                        .RenderValueAs(i => RenderColumnToString(i.TotalWeek2Milage.ToString()).ToHtmlString());
                                col.Add(m => m.TotalMilage)
                                        .Titled(" ")
                                        .Format("{0:0.00}")
                                        .Css("NmarqGrid-Total")
                                        .SetWidth("25%");
                            })
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //this will aligned the column in the Summary
        $(".grid-header-title:contains('Week 1')").css("text-align", "right");
        $(".grid-header-title:contains('Week 2')").css("text-align", "right");
        $(".grid-header-title:contains('Total')").css("text-align", "right");
        $(".grid-header-title:contains('Date')").css("text-align", "left");
        $(".grid-header-title:contains('Hours')").css("text-align", "left");
        $(".grid-header-title:contains('Type')").css("text-align", "left");
    });
</script>

