<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NM.Web.WebApplication.Timesheets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NM.Lib.CommonLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="UnitedEntities" connectionString="metadata=res://*/DataAccess.United.United.csdl|res://*/DataAccess.United.United.ssdl|res://*/DataAccess.United.United.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localdb;initial catalog=United;integrated security=True;MultipleActiveResultSets=True;Pooling=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NumberOfYearsToGenerateBasedOnCurrentYear" value="10" />
    <add key="DomainName" value="uproperties" />
    <add key="TimesheetAdmin" value="212" />
    <add key="TimesheetUser" value="213" />
    <add key="TimesheetManager" value="214" />
    <add key="TimesheetSubmissionToManager_Exempt" value="20" />
    <add key="TimesheetSubmissionToManager_NonExempt" value="21" />
    <add key="TimesheetRejectTimeEmail_Exempt" value="3" />
    <add key="TimesheetRejectTimeEmail_NonExempt" value="11" />
    <add key="TimesheetApprovedToEmployee_Exempt" value="14" />
    <add key="TimesheetApprovedToEmployee_NonExempt" value="15" />
    <add key="TimesheetLink_ApprovalLink" value="16" />
    <add key="TimesheetLink_RejectLink" value="18" />
    <add key="TimesheetLink_ViewTimesheet" value="19" />
    <add key="TimesheetLink_HomePage" value="17" />
    <add key="BuildQueryStringLink" value="?app=timesheets&amp;cmd=" />
    <add key="DefaultHREmail" value="timekeeper@cushwakenm.com" />
    <add key="InternEmploymentType" value="2" />
    <add key="TemporaryEmploymentType" value="5" />
    <add key="OnCallHoursType" value="7" />
    <!-- OfficeLocationID is Foreign Key in the tblIndividual table; use 18 Northland center as default so that we can add/save record-->
    <!-- Since Timekeeper uses WorkLocationID,this prevents null exception-->
    <add key="DefaultOfficeLocationID" value="18" />
    <add key="DefaultDomainName" value="uproperties" />
    <add key="TestUserDomainName" value="uproperties" />
    <add key="TestUserName" value="elizabeth.hamill" />
    <add key="YTDStartDate" value="1/1/1900" />
    <add key="YTDEndDate" value="12/31/5000" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <NM.Web.WebApplication.Timesheets.Properties.Settings>
      <setting name="DisableCaching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptionKey" serializeAs="String">
        <value>!X97s7e3Rz#@!</value>
      </setting>
      <setting name="RootWebAddress" serializeAs="String">
        <value>http://localhost/Timesheets</value>
      </setting>
    </NM.Web.WebApplication.Timesheets.Properties.Settings>
    <NM.Lib.CommonLibrary.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>TimeSheet</value>
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>1.0.0.0</value>
      </setting>
      <setting name="ReleaseDate" serializeAs="String">
        <value>1900-00-01</value>
      </setting>
      <setting name="ApplicationBaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationEnvironment" serializeAs="String">
        <value>PROD</value>
      </setting>
    </NM.Lib.CommonLibrary.Properties.Settings>
  </applicationSettings>
  <!-- LOCAL -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICentralReport">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICentralAuth" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICentralAuthV3" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICentralLog" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICentralReport" />
      </netTcpBinding>
    </bindings>
    <client>

      <!-- LOCAL -->

      <!--<endpoint address="http://localhost/CentralApi/V2/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuth"
                contract="CentralApi.AuthService.V2.ICentralAuth" name="BasicHttpBinding_ICentralAuth" />
      <endpoint address="http://localhost/CentralApi/V3/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuthV3"
          contract="CentralApi.AuthService.V3.ICentralAuthV3" name="BasicHttpBinding_ICentralAuthV3" />
      <endpoint address="http://localhost/CentralApi/V2/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralReport"
                contract="CentralApi.ReportService.V2.ICentralReport" name="BasicHttpBinding_ICentralReport" />

      <endpoint address="http://localhost/CentralApi/LogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralLog"
                contract="NM.Shared.Lib.DataLibrary.Interface.ICentralLog" name="BasicHttpBinding_ICentralLog" />-->

      <!-- TEST -->

      <!--<endpoint address="http://centralapidev.cushwakenm.com/V2/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuth"
          contract="CentralApi.AuthService.V2.ICentralAuth" name="BasicHttpBinding_ICentralAuth" />
      <endpoint address="http://centralapidev.cushwakenm.com/V3/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuthV3"
          contract="CentralApi.AuthService.V3.ICentralAuthV3" name="BasicHttpBinding_ICentralAuthV3" />
      <endpoint address="http://centralapidev.cushwakenm.com/V2/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralReport"
                contract="CentralApi.ReportService.V2.ICentralReport" name="BasicHttpBinding_ICentralReport" />

      <endpoint address="http://centralapishareddev.cushwakenm.com/LogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralLog"
                contract="NM.Shared.Lib.DataLibrary.Interface.ICentralLog" name="BasicHttpBinding_ICentralLog" />-->

      <!-- QA -->

      <!--<endpoint address="http://centralapiqa.cushwakenm.com/V2/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuth"
          contract="CentralApi.AuthService.V2.ICentralAuth" name="BasicHttpBinding_ICentralAuth" />
      <endpoint address="http://centralapiqa.cushwakenm.com/V3/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuthV3"
          contract="CentralApi.AuthService.V3.ICentralAuthV3" name="BasicHttpBinding_ICentralAuthV3" />
      <endpoint address="http://centralapiqa.cushwakenm.com/V2/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralReport"
                contract="CentralApi.ReportService.V2.ICentralReport" name="BasicHttpBinding_ICentralReport" />

      <endpoint address="http://centralapisharedqa.cushwakenm.com/LogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralLog"
                contract="NM.Shared.Lib.DataLibrary.Interface.ICentralLog" name="BasicHttpBinding_ICentralLog" />-->

      <!-- Prod -->

      <endpoint address="http://centralapi.cushwakenm.com/V2/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuth"
          contract="CentralApi.AuthService.V2.ICentralAuth" name="BasicHttpBinding_ICentralAuth" />
      <endpoint address="http://centralapi.cushwakenm.com/V3/AuthService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralAuthV3"
          contract="CentralApi.AuthService.V3.ICentralAuthV3" name="BasicHttpBinding_ICentralAuthV3" />
      <endpoint address="http://centralapi.cushwakenm.com/V2/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralReport"
                contract="CentralApi.ReportService.V2.ICentralReport" name="BasicHttpBinding_ICentralReport" />

      <endpoint address="http://centralapishared.cushwakenm.com/LogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralLog"
                contract="NM.Shared.Lib.DataLibrary.Interface.ICentralLog" name="BasicHttpBinding_ICentralLog" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<security>
    <authentication>
      <windowsAuthentication enabled="true" />
      -->
    <!--<anonymousAuthentication enabled="false" />-->
    <!--
    </authentication>
  </security>-->
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
